
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Rock Paper Scissors</title>
    <link rel="stylesheet" href="rps.css">
  </head>
  <body>
    <div class="result">
      <p id="choice"></p>
      <p id="gm"></p>
      <p id="score"></p>
    </div>
    <div class="chp">
      <div class="ch">
        <button onclick=setUserChoice('feuille') id="paper"><img src="paper.png"/></button>
        <button onclick=setUserChoice('pierre') id="rock"><img src="rock.png"/></button>
        <button onclick=setUserChoice('ciseaux') id="scissors"><img src="scissors.png"/></button>
      </div>
      <div class="game">
        <button onclick="playGame()">Jouer</button>
      </div>
    </div>
  </body>
  <script type="text/javascript" src="rps.js"></script>
  <script ></script>
  </html>
