<!doctype html>
<html>
	<head>
		<title>TP1</title>
		<meta charset="utf-8">
	</head>

	<!-- Commentaire HTML -->
	<body>
		<!-- Chaque page doit avoir un H1 qui est le titre principal de la page -->
		<h1>Cours de JS 2020-2021</h1>

		<section id="news">
			<h2 id="titleNews">News</h2>
			<article>
				<h3 class="title">News 1</h3>
			</article>

			<article>
				<h3 class="title">News 2</h3>
			</article>

			<article>
				<h3 class="title">News 3</h3>
			</article>
		</section>


		<form id="addNewsForm">
			Nom de la news : <input id="addNews" name="titleToAdd" />

			<input type="submit" id="submitNews" name="addNewsBtn">
		</form>
	</body>
	<!-- Le code JS doit se trouver après la clôture de la balise body. -->
	<script src="../public/js/log.js"></script><!-- ceci permet d'inclure un fichier JS externe -->
	<script src="../public/js/couleur.js"></script><!-- ceci permet d'inclure un fichier JS externe et d'afficher le boucle for avec code couleur-->
	<script src="../public/js/logsDesH.js"></script><!-- ceci permet d'inclure un fichier JS externe et d'afficher le contenu des balises dans la console-->
	<script src="../public/js/ajoutArticle.js"></script><!-- ceci permet d'inclure un fichier JS externe et executer l'ajout d'article avec question bonus-->
	<script src="../public/js/date.js"></script><!-- ceci permet d'inclure un fichier JS externe question bonus-->
</html>
