body{
  background-color:gray;
}
.result{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chp{
  display: flex;
  flex-direction: column;
}
.game{
  display: inherit;
  justify-content:center;
}
.ch{
  display: flex;
  justify-content:center;
}
